/* venda.css */

main {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-size: 1.2em;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 12px 20px;
    background-color:rgb(164, 81, 253);
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(158, 72, 250);
}
